---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=4deadcce&app_key=3f51908adb4261faac1a305935b0f771&q=Equatorial%20Guinea&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Wed, 18 Jan 2023 13:14:14 GMT
recorded_with: VCR 6.1.0
